{{!-- Exibindo cada postagem do BD ao adm --}}
<div class="container mt-2 mb-5">
    <div class="text-center">
        <h4 class="my-4">Lista de postagens dos usuários</h4>
    </div>
    <div class="row col-12">
        {{#each posts}}
            <div class="col-md-4 col-sm-6 mb-3">
                    <div class="card">
                        <h6 class="card-header">Author: {{author}}</h6>
                        <div class="card-body">
                                <h4 class="card-title">Título: {{titulo}}</h4>
                                <p class="card-text"><strong>Frase:</strong> {{frase}}</p>
                                <hr>
                                <small class="text-muted">Criado em: {{createdAt}}</small><br><br>
                                <a href="/update/{{id}}"><button class="btn btn-info">Editar</button></a>
                                <a href="/deletar/{{id}}"><button class="btn btn-danger">Excluir</button></a>
                        </div>
                    </div>
            </div>
            {{else}}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="alert alert-danger col-8" role="alert">
                        Nenhum post inserido );
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

